/* styles.css*/
.graph{
  overflow: hidden;
}

.modal-lg .modal-content .modal-body {
  width: 100% !important;
  height: 92vh !important;
  overflow: hidden;
}

.modal-lg{
  width: 100% !important;

  margin:0 !important;
  padding: 0 !important;
}


